p {

    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
   
   
}


#formulario {

    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {

    color:black;
    font-size: 30;
    font-family: Arial, Helvetica, sans-serif;

}

#principal {
    color: gray;
    font-size: 50px;
   font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
    width: 100%;

     
}

#navegacao {

    float: right;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    
    
    
    }
    

.container {


color: white;
padding: 20px;
width: 80%;
font-size: 20px;
border: 4px solid white;
padding: 10px;

}

.caixa {

    border: 2px solid white;
    padding: 10px;
}

body{
    background-image: url(../imagens/fundo\ de\ tela\ do\ site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


}


.media-body{



   
    background-color: #f8f9fa;
    
  
}
.img-fluid{

    align-items: center;
}